@media screen and (min-width:1000px){
    .content-sale:hover{
        box-shadow: 0 0 12px gray;
        border-radius: 6px;
    }
    .advert{
        min-height: 100vh;
    }
}
.social-content a img{
    border-radius: 5px;
    margin-left: 6px;
    background-color: #fff;
}
